@charset "UTF-8";

:root {
  --color-base:          #e9e9e9;
  --color-beige:         #d4ccb1;
  --color-bluegray:      #92a6a9;
  --color-copper:        #d0897a;
  --color-brick:         #915747;
  --color-brick-base:    #BF938D;
  --color-yoichi:        #3c6faf;
  --color-yoichi-base:   #889FB1;
  --color-miyagikyo:     #427D46;
  --color-miyagikyo-base:#A2B597;

  /* ▼プラスの値 */
  /* 1px間隔（1～49px） */
  --px-1 :  max( 0.05vw,  1px);
  --px-2 :  max( 0.10vw,  2px);
  --px-3 :  max( 0.16vw,  3px);
  --px-4 :  max( 0.21vw,  4px);
  --px-5 :  max( 0.26vw,  5px);
  --px-6 :  max( 0.32vw,  6px);
  --px-7 :  max( 0.37vw,  7px);
  --px-8 :  max( 0.42vw,  8px);
  --px-9 :  max( 0.47vw,  9px);
  --px-10:  max( 0.53vw, 10px);
  --px-11:  max( 0.58vw, 11px);
  --px-12:  max( 0.63vw, 12px);
  --px-13:  max( 0.69vw, 13px);
  --px-14:  max( 0.74vw, 14px);
  --px-15:  max( 0.79vw, 15px);
  --px-16:  max( 0.85vw, 16px);
  --px-17:  max( 0.90vw, 17px);
  --px-18:  max( 0.95vw, 18px);
  --px-19:  max( 1.01vw, 19px);
  --px-20:  max( 1.06vw, 20px);
  --px-21:  max( 1.11vw, 21px);
  --px-22:  max( 1.17vw, 22px);
  --px-23:  max( 1.22vw, 23px);
  --px-24:  max( 1.27vw, 24px);
  --px-25:  max( 1.32vw, 25px);
  --px-26:  max( 1.38vw, 26px);
  --px-27:  max( 1.43vw, 27px);
  --px-28:  max( 1.48vw, 28px);
  --px-29:  max( 1.54vw, 29px);
  --px-30:  max( 1.59vw, 30px);
  --px-31:  max( 1.64vw, 31px);
  --px-32:  max( 1.70vw, 32px);
  --px-33:  max( 1.75vw, 33px);
  --px-34:  max( 1.80vw, 34px);
  --px-35:  max( 1.85vw, 35px);
  --px-36:  max( 1.90vw, 36px);
  --px-37:  max( 1.95vw, 37px);
  --px-38:  max( 2.01vw, 38px);
  --px-39:  max( 2.06vw, 39px);
  --px-40:  max( 2.12vw, 40px);
  --px-41:  max( 2.17vw, 41px);
  --px-42:  max( 2.22vw, 42px);
  --px-43:  max( 2.27vw, 43px);
  --px-44:  max( 2.33vw, 44px);
  --px-45:  max( 2.38vw, 45px);
  --px-46:  max( 2.43vw, 46px);
  --px-47:  max( 2.49vw, 47px);
  --px-48:  max( 2.54vw, 48px);
  --px-49:  max( 2.59vw, 49px);

  /* 2px間隔（50～100px） */
  --px-50:  max( 2.65vw, 50px);
  --px-52:  max( 2.75vw, 52px);
  --px-54:  max( 2.86vw, 54px);
  --px-56:  max( 2.96vw, 56px);
  --px-58:  max( 3.06vw, 58px);
  --px-60:  max( 3.17vw, 60px);
  --px-62:  max( 3.27vw, 62px);
  --px-64:  max( 3.38vw, 64px);
  --px-66:  max( 3.49vw, 66px);
  --px-68:  max( 3.59vw, 68px);
  --px-70:  max( 3.70vw, 70px);
  --px-72:  max( 3.81vw, 72px);
  --px-74:  max( 3.91vw, 74px);
  --px-76:  max( 4.02vw, 76px);
  --px-78:  max( 4.13vw, 78px);
  --px-80:  max( 4.23vw, 80px);
  --px-82:  max( 4.34vw, 82px);
  --px-84:  max( 4.44vw, 84px);
  --px-86:  max( 4.55vw, 86px);
  --px-88:  max( 4.66vw, 88px);
  --px-90:  max( 4.76vw, 90px);
  --px-92:  max( 4.87vw, 92px);
  --px-94:  max( 4.98vw, 94px);
  --px-96:  max( 5.08vw, 96px);
  --px-98:  max( 5.19vw, 98px);

  /* 5px間隔（100～200px） */
  --px-100: max( 5.29vw, 100px);
  --px-105: max( 5.54vw, 105px);
  --px-110: max( 5.82vw, 110px);
  --px-115: max( 6.09vw, 115px);
  --px-120: max( 6.35vw, 120px);
  --px-125: max( 6.62vw, 125px);
  --px-130: max( 6.88vw, 130px);
  --px-135: max( 7.15vw, 135px);
  --px-140: max( 7.41vw, 140px);
  --px-145: max( 7.67vw, 145px);
  --px-150: max( 7.94vw, 150px);
  --px-155: max( 8.21vw, 155px);
  --px-160: max( 8.46vw, 160px);
  --px-165: max( 8.73vw, 165px);
  --px-170: max( 8.99vw, 170px);
  --px-175: max( 9.21vw, 175px);
  --px-180: max( 9.52vw, 180px);
  --px-185: max( 9.78vw, 185px);
  --px-190: max(10.05vw, 190px);
  --px-195: max(10.31vw, 195px);

  /* 10px間隔（200～800px） */
  --px-200: max(10.58vw, 200px);
  --px-210: max(11.11vw, 210px);
  --px-220: max(11.64vw, 220px);
  --px-230: max(12.17vw, 230px);
  --px-240: max(12.70vw, 240px);
  --px-250: max(13.22vw, 250px);
  --px-260: max(13.75vw, 260px);
  --px-270: max(14.29vw, 270px);
  --px-280: max(14.82vw, 280px);
  --px-290: max(15.34vw, 290px);
  --px-300: max(15.87vw, 300px);
  --px-310: max(16.40vw, 310px);
  --px-320: max(16.93vw, 320px);
  --px-330: max(17.46vw, 330px);
  --px-340: max(17.98vw, 340px);
  --px-350: max(18.52vw, 350px);
  --px-360: max(19.05vw, 360px);
  --px-370: max(19.58vw, 370px);
  --px-380: max(20.10vw, 380px);
  --px-390: max(20.63vw, 390px);
  --px-400: max(21.16vw, 400px);
  --px-410: max(21.70vw, 410px);
  --px-420: max(22.22vw, 420px);
  --px-430: max(22.75vw, 430px);
  --px-440: max(23.28vw, 440px);
  --px-450: max(23.81vw, 450px);
  --px-460: max(24.34vw, 460px);
  --px-470: max(24.86vw, 470px);
  --px-480: max(25.40vw, 480px);
  --px-490: max(25.93vw, 490px);
  --px-500: max(26.46vw, 500px);
  --px-510: max(26.98vw, 510px);
  --px-520: max(27.51vw, 520px);
  --px-530: max(28.04vw, 530px);
  --px-540: max(28.57vw, 540px);
  --px-550: max(29.10vw, 550px);
  --px-560: max(29.63vw, 560px);
  --px-570: max(30.16vw, 570px);
  --px-580: max(30.69vw, 580px);
  --px-590: max(31.22vw, 590px);
  --px-600: max(31.74vw, 600px);
  --px-610: max(32.27vw, 610px);
  --px-620: max(32.80vw, 620px);
  --px-630: max(33.33vw, 630px);
  --px-640: max(33.86vw, 640px);
  --px-650: max(34.39vw, 650px);
  --px-660: max(34.92vw, 660px);
  --px-670: max(35.45vw, 670px);
  --px-680: max(35.98vw, 680px);
  --px-690: max(36.51vw, 690px);
  --px-700: max(37.03vw, 700px);
  --px-710: max(37.56vw, 710px);
  --px-720: max(38.09vw, 720px);
  --px-730: max(38.62vw, 730px);
  --px-740: max(39.15vw, 740px);
  --px-750: max(39.68vw, 750px);
  --px-760: max(40.21vw, 760px);
  --px-770: max(40.74vw, 770px);
  --px-780: max(41.27vw, 780px);
  --px-790: max(41.80vw, 790px);
  --px-800: max(42.33vw, 800px);





  /* ▼マイナスの値 */
  /* 1px間隔（1～49px） */
  --px-1- :  max( -0.05vw,  -1px);
  --px-2- :  max( -0.10vw,  -2px);
  --px-3- :  max( -0.16vw,  -3px);
  --px-4- :  max( -0.21vw,  -4px);
  --px-5- :  max( -0.26vw,  -5px);
  --px-6- :  max( -0.32vw,  -6px);
  --px-7- :  max( -0.37vw,  -7px);
  --px-8- :  max( -0.42vw,  -8px);
  --px-9- :  max( -0.47vw,  -9px);
  --px-10-:  max( -0.53vw, -10px);
  --px-11-:  max( -0.58vw, -11px);
  --px-12-:  max( -0.63vw, -12px);
  --px-13-:  max( -0.69vw, -13px);
  --px-14-:  max( -0.74vw, -14px);
  --px-15-:  max( -0.79vw, -15px);
  --px-16-:  max( -0.85vw, -16px);
  --px-17-:  max( -0.90vw, -17px);
  --px-18-:  max( -0.95vw, -18px);
  --px-19-:  max( -1.01vw, -19px);
  --px-20-:  max( -1.06vw, -20px);
  --px-21-:  max( -1.11vw, -21px);
  --px-22-:  max( -1.17vw, -22px);
  --px-23-:  max( -1.22vw, -23px);
  --px-24-:  max( -1.27vw, -24px);
  --px-25-:  max( -1.32vw, -25px);
  --px-26-:  max( -1.38vw, -26px);
  --px-27-:  max( -1.43vw, -27px);
  --px-28-:  max( -1.48vw, -28px);
  --px-29-:  max( -1.54vw, -29px);
  --px-30-:  max( -1.59vw, -30px);
  --px-31-:  max( -1.64vw, -31px);
  --px-32-:  max( -1.70vw, -32px);
  --px-33-:  max( -1.75vw, -33px);
  --px-34-:  max( -1.80vw, -34px);
  --px-35-:  max( -1.85vw, -35px);
  --px-36-:  max( -1.90vw, -36px);
  --px-37-:  max( -1.95vw, -37px);
  --px-38-:  max( -2.01vw, -38px);
  --px-39-:  max( -2.06vw, -39px);
  --px-40-:  max( -2.12vw, -40px);
  --px-41-:  max( -2.17vw, -41px);
  --px-42-:  max( -2.22vw, -42px);
  --px-43-:  max( -2.27vw, -43px);
  --px-44-:  max( -2.33vw, -44px);
  --px-45-:  max( -2.38vw, -45px);
  --px-46-:  max( -2.43vw, -46px);
  --px-47-:  max( -2.49vw, -47px);
  --px-48-:  max( -2.54vw, -48px);
  --px-49-:  max( -2.59vw, -49px);

  /* 2px間隔（50～100px） */
  --px-50-:  max( -2.65vw, -50px);
  --px-52-:  max( -2.75vw, -52px);
  --px-54-:  max( -2.86vw, -54px);
  --px-56-:  max( -2.96vw, -56px);
  --px-58-:  max( -3.06vw, -58px);
  --px-60-:  max( -3.17vw, -60px);
  --px-62-:  max( -3.27vw, -62px);
  --px-64-:  max( -3.38vw, -64px);
  --px-66-:  max( -3.49vw, -66px);
  --px-68-:  max( -3.59vw, -68px);
  --px-70-:  max( -3.70vw, -70px);
  --px-72-:  max( -3.81vw, -72px);
  --px-74-:  max( -3.91vw, -74px);
  --px-76-:  max( -4.02vw, -76px);
  --px-78-:  max( -4.13vw, -78px);
  --px-80-:  max( -4.23vw, -80px);
  --px-82-:  max( -4.34vw, -82px);
  --px-84-:  max( -4.44vw, -84px);
  --px-86-:  max( -4.55vw, -86px);
  --px-88-:  max( -4.66vw, -88px);
  --px-90-:  max( -4.76vw, -90px);
  --px-92-:  max( -4.87vw, -92px);
  --px-94-:  max( -4.98vw, -94px);
  --px-96-:  max( -5.08vw, -96px);
  --px-98-:  max( -5.19vw, -98px);

  /* 5px間隔（100～200px） */
  --px-100-: max( -5.29vw, -100px);
  --px-105-: max( -5.54vw, -105px);
  --px-110-: max( -5.82vw, -110px);
  --px-115-: max( -6.09vw, -115px);
  --px-120-: max( -6.35vw, -120px);
  --px-125-: max( -6.62vw, -125px);
  --px-130-: max( -6.88vw, -130px);
  --px-135-: max( -7.15vw, -135px);
  --px-140-: max( -7.41vw, -140px);
  --px-145-: max( -7.67vw, -145px);
  --px-150-: max( -7.94vw, -150px);
  --px-155-: max( -8.21vw, -155px);
  --px-160-: max( -8.46vw, -160px);
  --px-165-: max( -8.73vw, -165px);
  --px-170-: max( -8.99vw, -170px);
  --px-175-: max( -9.21vw, -175px);
  --px-180-: max( -9.52vw, -180px);
  --px-185-: max( -9.78vw, -185px);
  --px-190-: max( -10.05vw, -190px);
  --px-195-: max( -10.31vw, -195px);

  /* 10px間隔（200～800px） */
  --px-200-: max( -10.58vw, -200px);
  --px-210-: max( -11.11vw, -210px);
  --px-220-: max( -11.64vw, -220px);
  --px-230-: max( -12.17vw, -230px);
  --px-240-: max( -12.70vw, -240px);
  --px-250-: max( -13.22vw, -250px);
  --px-260-: max( -13.75vw, -260px);
  --px-270-: max( -14.29vw, -270px);
  --px-280-: max( -14.82vw, -280px);
  --px-290-: max( -15.34vw, -290px);
  --px-300-: max( -15.87vw, -300px);
  --px-310-: max( -16.40vw, -310px);
  --px-320-: max( -16.93vw, -320px);
  --px-330-: max( -17.46vw, -330px);
  --px-340-: max( -17.98vw, -340px);
  --px-350-: max( -18.52vw, -350px);
  --px-360-: max( -19.05vw, -360px);
  --px-370-: max( -19.58vw, -370px);
  --px-380-: max( -20.10vw, -380px);
  --px-390-: max( -20.63vw, -390px);
  --px-400-: max( -21.16vw, -400px);
  --px-410-: max( -21.70vw, -410px);
  --px-420-: max( -22.22vw, -420px);
  --px-430-: max( -22.75vw, -430px);
  --px-440-: max( -23.28vw, -440px);
  --px-450-: max( -23.81vw, -450px);
  --px-460-: max( -24.34vw, -460px);
  --px-470-: max( -24.86vw, -470px);
  --px-480-: max( -25.40vw, -480px);
  --px-490-: max( -25.93vw, -490px);
  --px-500-: max( -26.46vw, -500px);
  --px-510-: max( -26.98vw, -510px);
  --px-520-: max( -27.51vw, -520px);
  --px-530-: max( -28.04vw, -530px);
  --px-540-: max( -28.57vw, -540px);
  --px-550-: max( -29.10vw, -550px);
  --px-560-: max( -29.63vw, -560px);
  --px-570-: max( -30.16vw, -570px);
  --px-580-: max( -30.69vw, -580px);
  --px-590-: max( -31.22vw, -590px);
  --px-600-: max( -31.74vw, -600px);
  --px-610-: max( -32.27vw, -610px);
  --px-620-: max( -32.80vw, -620px);
  --px-630-: max( -33.33vw, -630px);
  --px-640-: max( -33.86vw, -640px);
  --px-650-: max( -34.39vw, -650px);
  --px-660-: max( -34.92vw, -660px);
  --px-670-: max( -35.45vw, -670px);
  --px-680-: max( -35.98vw, -680px);
  --px-690-: max( -36.51vw, -690px);
  --px-700-: max( -37.03vw, -700px);
  --px-710-: max( -37.56vw, -710px);
  --px-720-: max( -38.09vw, -720px);
  --px-730-: max( -38.62vw, -730px);
  --px-740-: max( -39.15vw, -740px);
  --px-750-: max( -39.68vw, -750px);
  --px-760-: max( -40.21vw, -760px);
  --px-770-: max( -40.74vw, -770px);
  --px-780-: max( -41.27vw, -780px);
  --px-790-: max( -41.80vw, -790px);
  --px-800-: max( -42.33vw, -800px);

}



@media screen and (max-width : 768px){

  :root {
    /* ▼プラスの値 */
    /* 1px間隔（1～49px） */
    --px-1 :  0.256vw;
    --px-2 :  0.513vw;
    --px-3 :  0.769vw;
    --px-4 :  1.026vw;
    --px-5 :  1.282vw;
    --px-6 :  1.538vw;
    --px-7 :  1.795vw;
    --px-8 :  2.051vw;
    --px-9 :  2.308vw;
    --px-10:  2.564vw;
    --px-11:  2.821vw;
    --px-12:  3.077vw;
    --px-13:  3.333vw;
    --px-14:  3.590vw;
    --px-15:  3.846vw;
    --px-16:  4.103vw;
    --px-17:  4.359vw;
    --px-18:  4.615vw;
    --px-19:  4.872vw;
    --px-20:  5.128vw;
    --px-21:  5.385vw;
    --px-22:  5.641vw;
    --px-23:  5.897vw;
    --px-24:  6.154vw;
    --px-25:  6.410vw;
    --px-26:  6.667vw;
    --px-27:  6.923vw;
    --px-28:  7.179vw;
    --px-29:  7.436vw;
    --px-30:  7.692vw;
    --px-31:  7.949vw;
    --px-32:  8.205vw;
    --px-33:  8.462vw;
    --px-34:  8.718vw;
    --px-35:  8.974vw;
    --px-36:  9.231vw;
    --px-37:  9.487vw;
    --px-38:  9.744vw;
    --px-39: 10.000vw;
    --px-40: 10.256vw;
    --px-41: 10.513vw;
    --px-42: 10.769vw;
    --px-43: 11.026vw;
    --px-44: 11.282vw;
    --px-45: 11.538vw;
    --px-46: 11.795vw;
    --px-47: 12.051vw;
    --px-48: 12.308vw;
    --px-49: 12.564vw;

    /* 2px間隔（50～100px） */
    --px-50: 12.821vw;
    --px-52: 13.333vw;
    --px-54: 13.846vw;
    --px-56: 14.359vw;
    --px-58: 14.872vw;
    --px-60: 15.385vw;
    --px-62: 15.897vw;
    --px-64: 16.410vw;
    --px-66: 16.923vw;
    --px-68: 17.436vw;
    --px-70: 17.949vw;
    --px-72: 18.462vw;
    --px-74: 18.974vw;
    --px-76: 19.487vw;
    --px-78: 20.000vw;
    --px-80: 20.513vw;
    --px-82: 21.026vw;
    --px-84: 21.538vw;
    --px-86: 22.051vw;
    --px-88: 22.564vw;
    --px-90: 23.077vw;
    --px-92: 23.590vw;
    --px-94: 24.103vw;
    --px-96: 24.615vw;
    --px-98: 25.128vw;

    /* 5px間隔（100～200px） */
    --px-100: 25.641vw;
    --px-105: 26.923vw;
    --px-110: 28.205vw;
    --px-115: 29.487vw;
    --px-120: 30.769vw;
    --px-125: 32.051vw;
    --px-130: 33.333vw;
    --px-135: 34.615vw;
    --px-140: 35.897vw;
    --px-145: 37.179vw;
    --px-150: 38.462vw;
    --px-155: 39.744vw;
    --px-160: 41.026vw;
    --px-165: 42.308vw;
    --px-170: 43.590vw;
    --px-175: 44.872vw;
    --px-180: 46.154vw;
    --px-185: 47.436vw;
    --px-190: 48.718vw;
    --px-195: 50.000vw;

    /* 10px間隔（200～800px） */
    --px-200: 51.282vw;
    --px-210: 53.846vw;
    --px-220: 56.410vw;
    --px-230: 58.974vw;
    --px-240: 61.538vw;
    --px-250: 64.103vw;
    --px-260: 66.667vw;
    --px-270: 69.231vw;
    --px-280: 71.795vw;
    --px-290: 74.359vw;
    --px-300: 76.923vw;
    --px-310: 79.487vw;
    --px-320: 82.051vw;
    --px-330: 84.615vw;
    --px-340: 87.179vw;
    --px-350: 89.744vw;
    --px-360: 92.308vw;
    --px-370: 94.872vw;
    --px-380: 97.436vw;
    --px-390: 100.000vw;
    --px-400: 102.564vw;
    --px-410: 105.128vw;
    --px-420: 107.692vw;
    --px-430: 110.256vw;
    --px-440: 112.821vw;
    --px-450: 115.385vw;
    --px-460: 117.949vw;
    --px-470: 120.513vw;
    --px-480: 123.077vw;
    --px-490: 125.641vw;
    --px-500: 128.205vw;
    --px-510: 130.769vw;
    --px-520: 133.333vw;
    --px-530: 135.897vw;
    --px-540: 138.462vw;
    --px-550: 141.026vw;
    --px-560: 143.590vw;
    --px-570: 146.154vw;
    --px-580: 148.718vw;
    --px-590: 151.282vw;
    --px-600: 153.846vw;
    --px-610: 156.410vw;
    --px-620: 158.974vw;
    --px-630: 161.538vw;
    --px-640: 164.103vw;
    --px-650: 166.667vw;
    --px-660: 169.231vw;
    --px-670: 171.795vw;
    --px-680: 174.359vw;
    --px-690: 176.923vw;
    --px-700: 179.487vw;
    --px-710: 182.051vw;
    --px-720: 184.615vw;
    --px-730: 187.179vw;
    --px-740: 189.744vw;
    --px-750: 192.308vw;
    --px-760: 194.872vw;
    --px-770: 197.436vw;
    --px-780: 200.000vw;
    --px-790: 202.564vw;
    --px-800: 205.128vw;


    /* ▼マイナスの値 */
    /* 1px間隔（1～49px） */
    --px-1- :  -0.256vw;
    --px-2- :  -0.513vw;
    --px-3- :  -0.769vw;
    --px-4- :  -1.026vw;
    --px-5- :  -1.282vw;
    --px-6- :  -1.538vw;
    --px-7- :  -1.795vw;
    --px-8- :  -2.051vw;
    --px-9- :  -2.308vw;
    --px-10-:  -2.564vw;
    --px-11-:  -2.821vw;
    --px-12-:  -3.077vw;
    --px-13-:  -3.333vw;
    --px-14-:  -3.590vw;
    --px-15-:  -3.846vw;
    --px-16-:  -4.103vw;
    --px-17-:  -4.359vw;
    --px-18-:  -4.615vw;
    --px-19-:  -4.872vw;
    --px-20-:  -5.128vw;
    --px-21-:  -5.385vw;
    --px-22-:  -5.641vw;
    --px-23-:  -5.897vw;
    --px-24-:  -6.154vw;
    --px-25-:  -6.410vw;
    --px-26-:  -6.667vw;
    --px-27-:  -6.923vw;
    --px-28-:  -7.179vw;
    --px-29-:  -7.436vw;
    --px-30-:  -7.692vw;
    --px-31-:  -7.949vw;
    --px-32-:  -8.205vw;
    --px-33-:  -8.462vw;
    --px-34-:  -8.718vw;
    --px-35-:  -8.974vw;
    --px-36-:  -9.231vw;
    --px-37-:  -9.487vw;
    --px-38-:  -9.744vw;
    --px-39-: -10.000vw;
    --px-40-: -10.256vw;
    --px-41-: -10.513vw;
    --px-42-: -10.769vw;
    --px-43-: -11.026vw;
    --px-44-: -11.282vw;
    --px-45-: -11.538vw;
    --px-46-: -11.795vw;
    --px-47-: -12.051vw;
    --px-48-: -12.308vw;
    --px-49-: -12.564vw;

    /* 2px間隔（50～100px） */
    --px-50-: -12.821vw;
    --px-52-: -13.333vw;
    --px-54-: -13.846vw;
    --px-56-: -14.359vw;
    --px-58-: -14.872vw;
    --px-60-: -15.385vw;
    --px-62-: -15.897vw;
    --px-64-: -16.410vw;
    --px-66-: -16.923vw;
    --px-68-: -17.436vw;
    --px-70-: -17.949vw;
    --px-72-: -18.462vw;
    --px-74-: -18.974vw;
    --px-76-: -19.487vw;
    --px-78-: -20.000vw;
    --px-80-: -20.513vw;
    --px-82-: -21.026vw;
    --px-84-: -21.538vw;
    --px-86-: -22.051vw;
    --px-88-: -22.564vw;
    --px-90-: -23.077vw;
    --px-92-: -23.590vw;
    --px-94-: -24.103vw;
    --px-96-: -24.615vw;
    --px-98-: -25.128vw;

    /* 5px間隔（100～200px） */
    --px-100-: -25.641vw;
    --px-105-: -26.923vw;
    --px-110-: -28.205vw;
    --px-115-: -29.487vw;
    --px-120-: -30.769vw;
    --px-125-: -32.051vw;
    --px-130-: -33.333vw;
    --px-135-: -34.615vw;
    --px-140-: -35.897vw;
    --px-145-: -37.179vw;
    --px-150-: -38.462vw;
    --px-155-: -39.744vw;
    --px-160-: -41.026vw;
    --px-165-: -42.308vw;
    --px-170-: -43.590vw;
    --px-175-: -44.872vw;
    --px-180-: -46.154vw;
    --px-185-: -47.436vw;
    --px-190-: -48.718vw;
    --px-195-: -50.000vw;

    /* 10px間隔（200～800px） */
    --px-200-: -51.282vw;
    --px-210-: -53.846vw;
    --px-220-: -56.410vw;
    --px-230-: -58.974vw;
    --px-240-: -61.538vw;
    --px-250-: -64.103vw;
    --px-260-: -66.667vw;
    --px-270-: -69.231vw;
    --px-280-: -71.795vw;
    --px-290-: -74.359vw;
    --px-300-: -76.923vw;
    --px-310-: -79.487vw;
    --px-320-: -82.051vw;
    --px-330-: -84.615vw;
    --px-340-: -87.179vw;
    --px-350-: -89.744vw;
    --px-360-: -92.308vw;
    --px-370-: -94.872vw;
    --px-380-: -97.436vw;
    --px-390-: -100.000vw;
    --px-400-: -102.564vw;
    --px-410-: -105.128vw;
    --px-420-: -107.692vw;
    --px-430-: -110.256vw;
    --px-440-: -112.821vw;
    --px-450-: -115.385vw;
    --px-460-: -117.949vw;
    --px-470-: -120.513vw;
    --px-480-: -123.077vw;
    --px-490-: -125.641vw;
    --px-500-: -128.205vw;
    --px-510-: -130.769vw;
    --px-520-: -133.333vw;
    --px-530-: -135.897vw;
    --px-540-: -138.462vw;
    --px-550-: -141.026vw;
    --px-560-: -143.590vw;
    --px-570-: -146.154vw;
    --px-580-: -148.718vw;
    --px-590-: -151.282vw;
    --px-600-: -153.846vw;
    --px-610-: -156.410vw;
    --px-620-: -158.974vw;
    --px-630-: -161.538vw;
    --px-640-: -164.103vw;
    --px-650-: -166.667vw;
    --px-660-: -169.231vw;
    --px-670-: -171.795vw;
    --px-680-: -174.359vw;
    --px-690-: -176.923vw;
    --px-700-: -179.487vw;
    --px-710-: -182.051vw;
    --px-720-: -184.615vw;
    --px-730-: -187.179vw;
    --px-740-: -189.744vw;
    --px-750-: -192.308vw;
    --px-760-: -194.872vw;
    --px-770-: -197.436vw;
    --px-780-: -200.000vw;
    --px-790-: -202.564vw;
    --px-800-: -205.128vw;


  }



}