<?php

// 現在のURLを取得し、パラメータを除外
$current_url = strtok($_SERVER['REQUEST_URI'], '?');

//このスクリプトを実行しているページのホームディレクトリからのパス（ファイル名を含む）
$file_path = $_SERVER['SCRIPT_NAME']; 

// パスをスラッシュで区切った値（ディレクトリ名）の配列
$dirs = explode("/", $file_path); 

// 配列の空の要素を削除（先頭は常に空）
$dirs = array_values(array_filter($dirs,"strlen")); 
 
// 英語ページかどうかの判定用変数
$is_en = isset($dirs[0]) && $dirs[0] === 'en' ? true: false;
  
if($is_en) {

  // 日本語版ディレクトリが存在するかどうかをチェック
  $another_dir_path = $_SERVER['DOCUMENT_ROOT'] . str_replace('/en/', '/', $current_url);
  
  // 日本語ページのURLを生成
  $jp_url = 'https://www.nikka.com' . str_replace('/en/', '/', $current_url);
  // 英語ページのURLを生成
  $en_url = 'https://www.nikka.com' . $current_url;

  $canonical_url = $en_url;

} else {
  // 英語版ディレクトリが存在するかどうかをチェック
  $another_dir_path = $_SERVER['DOCUMENT_ROOT'] . '/en' . $current_url;

  // 日本語ページのURLを生成
  $jp_url = 'https://www.nikka.com' . $current_url;
  // 英語ページのURLを生成
  $en_url = 'https://www.nikka.com/en' . $current_url;

  $canonical_url = $jp_url;
}

?>

<?php if (file_exists($another_dir_path)) { ?>
<link rel="alternate" hreflang="ja" href="<?php echo $jp_url; ?>">
<link rel="alternate" hreflang="en" href="<?php echo $en_url; ?>">
<?php } ?>


<link rel="canonical" href="<?php echo $canonical_url; ?>">
