@import "mq";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

#wrapper{
    background-color: #000;
}

#loader-bg {
    // display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: #000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    @include sp {
        min-height: 100vh;
        height: -webkit-fill-available;
    }
}

#loader {
    text-align: center;
    color: #fff;
    z-index: 2;
    transform: scale(1);
    transition: transform 1s ease;

    @include sp {
        width: get_vw(276);
        height: get_vw(204);
    }

    @include pc {
        width: 276px;
        height: 204px;
    }

    img {
        width: 100%;
        height: auto;
    }
}

#loader-bg.fade-out {
    opacity: 0;
    pointer-events: none;
}

#loader.shrink {
    transform: scale(0.95);
}

.breadcrumbs{
    @include pc{
        position: relative;
        z-index: 1;
    }
    .inner{
        @include sp{
        display: none;
    }
        @include pc{
            position: relative;
            top: -25px;
        }
        ol{
            li{
                color: #fff;
                @include sp{
                    font-size: 12px;
                }
                a{
                    color: #fff;
                }
            }
        }
    }
}

.contents{
    @include sp{
        margin-top: -7.5vw;
    }
    @include pc{
        margin-top: -51px;
    }
}

#tn2025 {
    background-color: #000;
    color: #fff;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

    @include sp {
        padding-bottom: 25vw;
    }

    @include pc {
        padding: 0 0 250px 0;
    }

    .inner {
        position: relative;
        margin-left: auto;
        margin-right: auto;

        @include sp {
            margin-left: get_vw(60);
            margin-right: get_vw(60);
            width: auto;
        }

        @include pc {
            width: 1286px;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    h2,h3 {
        font-family: "Vollkorn", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 0.03em;
    }

    p {
    }

    .keyvisual {
        background-position: center top;
        background-repeat: no-repeat;
        background-color: #000;

        @include sp {
            background-image: url(../images/kv_image_sp.png);
            background-size: 100vw auto;
        }

        @include pc {
            background-image: url(../images/kv_image@2x.jpg);
            background-size: auto 760px;
        }

        .inner {
            @include sp {
                height: get_vw(1580);
            }

            @include pc {
                height: 760px;
            }

            h1 {
                @include sp {
                    position: relative;
                    width: get_vw(355);
                    padding-top: 139vw;
                    margin: 0 auto;
                }

                @include pc {
                    position: absolute;
                    top: 305px;
                    right: 68px;
                    width: 242px;
                }
            }

            // .date {
            //     @include sp {
            //         width: get_vw(568);
            //         margin: get_vw(58) auto 0 auto;
            //     }

            //     @include pc {
            //         position: absolute;
            //         top: 504px;
            //         right: 97px;
            //         width: 204px;
            //     }
            // }

            .maincopy {
                position: absolute;

                @include sp {
                    left: -2.5vw;
                    top: 15.5vw;
                    width: get_vw(668);
                }

                @include pc {
                    top: 363px;
                    left: 10px;
                    width: 496px;
                }
            }

        }
    }

    .kv_bottom {
        background-color: #92a6a9;
        width: 100%;

        p {
            line-height: 1;
            margin: 0 auto;

            @include sp {
                width: get_vw(494);
                padding: get_vw(45) 0;
            }

            @include pc {
                width: 598px;
                padding: 40px 0;
            }
        }
    }

    .intro {
        background-color: #020202;

        @include sp {
            background-image: url(../images/intro_bg_sp.jpg);
            background-size: get_vw(768) auto;
            background-position: center top;
            background-repeat: no-repeat;
        }

        @include pc {
            background-image: url(../images/intro_bg@2x.jpg);
            background-size: auto 860px;
            background-position: center;
        }

        .inner {
            @include sp {
                padding: get_vw(120) 0 get_vw(110) 0;
            }

            @include pc {
                box-sizing: border-box;
                width: 1240px;
                height: 860px;
                padding-top: 130px;
            }

            h2 {
                @include sp {
                    font-size: 4.0vw;
                    line-height: 1.75;
                    margin-bottom: 90.5vw;
                    letter-spacing: 0.02em;
                }

                @include pc {
                    font-size: 25px;
                    line-height: 1.75;
                    margin-bottom: 58px;
                }
            }

            p {
                @include sp {
                    font-size: get_vw(25);
                    line-height: 1.8;
                    letter-spacing: 0.05em;
                    text-align: justify;

                }
                @include pc {
                    font-size: 16px;
                    line-height: 1.85;
                    letter-spacing: 0.01em;
                    width: 530px;
                }
                .spacer{
                    @include pc{
                        display: block;
                        font-size: 50%;
                    }
                }
            }
        }
    }

    .large_image {
        width: 100%;
        clip-path: inset(0);

        @include sp {
            height: get_vw(600);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include pc {
            height: 650px;
        }

        img {
            object-fit: cover;
            position: fixed;
            top: 0;

            @include sp {
                width: auto;
                height: 100vh;
            }

            @include pc {
                width: 100%;
                height: auto;
                left: 0;
                right: 0;
            }
        }
    }

    .blenders {
        @include sp {
            background-image: url(../images/blenders_bg_sp.jpg);
            background-color: #000;
            background-position: center top;
            background-size: 100vw auto;
            background-repeat: no-repeat;
        }

        @include pc {
            background-image: url(../images/blenders_bg@2x.jpg);
            background-size: cover;
            background-position: center top;
        }

        .inner {
            @include sp {
                padding: 0 0 get_vw(170) 0;
            }

            @include pc {
                max-width: inherit;
                width: 1286px;
                padding: 0 0 240px 0;
            }

            section {
                &#blenders{
                    h2{
                        @include sp{
                            padding: get_vw(120) 0 get_vw(70) 0;
                        }
                        @include pc{
                            padding: 190px 0 100px 0;
                        }
                    }
                }
                &#movie{
                    h2{
                        @include sp{
                            padding: get_vw(215) 0 get_vw(70) 0;
                        }
                        @include pc{
                            padding: 215px 0 115px 0;
                        }
                    }
                }
                h2{
                    text-align: center;
                    img{
                        @include sp{
                            width: auto;
                            height:3.5vw;
                        }
                        @include pc{
                            width: auto;
                            height: 24px;
                        }
                    }
                }
                .blender_wrap {
                    @include pc {
                        display: flex;
                        justify-content: space-between;
                    }
                    .blender_box {
                        box-sizing: border-box;
                        position: relative;

                        @include sp {
                            background-color: #000;
                            background-position: center bottom;
                            background-repeat: no-repeat;
                            background-size: get_vw(650) auto;
                            width: get_vw(650);
                            height: get_vw(690);
                            padding: get_vw(70) get_vw(50);
                            transition: height 0.8s ease;
                        }

                        @include pc {
                            background-size: contain;
                            width: 622px;
                            height: 752px;
                            padding: 65px 70px;
                        }

                        & h3 {
                            @include sp {
                                font-size: get_vw(33);
                                line-height: 1.65;
                            }

                            @include pc {
                                font-size: 24px;
                                line-height: 1.65;
                                margin-bottom: 30px;
                            }
                        }

                        .tx-box {
                            @include sp {
                                height: 0;
                                padding-bottom: 0;
                                opacity: 0;
                                overflow: hidden;
                                transition:1.0s ease;
                            }
                            @include pc{
                                height: auto !important;
                            }

                            &.open {
                                @include sp{
                                    height: auto;
                                    margin: get_vw(50) 0 0 0;
                                    padding-bottom: get_vw(380);
                                    opacity: 1;
                                }
                            }
                            p {
                                letter-spacing: 0.07em;

                                @include sp {
                                    // height: 0;
                                    font-size: get_vw(25);
                                    line-height: 1.65;
                                    transition: 0.5s;
                                }

                                @include pc {
                                    font-size: 16px;
                                    letter-spacing: 0;
                                    line-height: 1.55;
                                    width: 350px;
                                }
                                .spacer{
                                    display: block;
                                    @include pc{
                                        font-size: 50%;
                                    }
                                }
                                &:nth-child(2){
                                    @include sp{
                                        margin-top: 0.75em;
                                    }
                                    @include pc{
                                        margin-top: 0.75em;
                                    }
                                }
                            }
                            &.open{
                                p{
                                    @include sp{
                                        height: auto;
                                    }
                                }
                            }
                        }

                        .button {
                            @include sp {
                                border: 1px solid #fff;
                                background-color: transparent;
                                width: get_vw(280);
                                height: auto;
                                font-size: get_vw(24);
                                display: block;
                                text-align: center;
                                padding: get_vw(20) 0;
                                // opacity: 1;
                                position: absolute;
                                transition: 0.3s;
                                top: 36vw;
                            }

                            @include pc {
                                display: none;
                            }

                            &.active {
                                opacity: 0;
                                pointer-events: none;
                            }
                        }

                        .sign {
                            @include sp {
                                position: absolute;
                                bottom: 23vw;
                                left: get_vw(50);
                            }
                            @include pc{
                                margin-top: 30px;
                            }

                            p {
                                display: inline-block;
                                font-family: "Vollkorn", serif;
                                font-optical-sizing: auto;
                                font-weight: 400;
                                font-style: italic;
                                letter-spacing: 0.03em;

                                @include sp {
                                    font-size: get_vw(24);
                                }
                                @include pc{
                                    font-size: 16px;
                                }
                            }

                            img {
                                display: block;
                            }
                        }

                        &.ozaki {
                            @include sp {
                                background-image: url(../images/blender_ozaki_sp.jpg);
                                margin-bottom: get_vw(70);
                            }

                            @include pc {
                                background-image: url(../images/blender_ozaki@2x.jpg);
                            }

                            .sign {
                                @include pc {
                                    margin-top: 30px;
                                }

                                img {
                                    @include sp {
                                        width: get_vw(185);
                                        margin: get_vw(15) 0 0 get_vw(50);
                                    }

                                    @include pc {
                                        width: 162px;
                                        margin: 18px 0 0 10px;
                                    }
                                }
                            }
                        }

                        &.iseki {
                            @include sp {
                                background-image: url(../images/blender_iseki_sp.jpg);
                            }

                            @include pc {
                                background-image: url(../images/blender_iseki@2x.jpg);
                            }

                            .tx-box{
                                .tx-box-inner{
                                    p{
                                        @include pc{
                                            width: 340px;
                                        }
                                    }
                                }
                            }

                            .sign {
                                @include pc {
                                    margin-top: 52px;
                                }

                                img {
                                    @include sp {
                                        width: get_vw(148);
                                        margin: get_vw(15) 0 0 get_vw(70);
                                    }

                                    @include pc {
                                        width: 138px;
                                        margin: 18px 0 0 18px;
                                    }
                                }
                            }

                            .fadein {
                                @include pc {
                                    transition-delay: .6s;
                                }
                            }
                        }

                    }
                }

                .movie_wrap {
                    @include pc {
                        margin: 0 auto;
                        width: 1064px;
                        display: flex;
                        justify-content: space-between;
                    }

                    &.disp_sp {
                        @include pc {
                            display: none;
                        }
                    }

                    &.disp_pc {
                        @include sp {
                            display: none;
                        }
                    }

                    a {
                        display: block;
                        border: none;
                        margin: 0;
                        padding: 0;

                        @include sp {
                            width: get_vw(400);

                        }

                        @include pc {
                            width: 401px;
                        }

                        &.ozeki {
                            @include sp {}
                        }

                        &.iseki {
                            @include sp {
                                margin-top: get_vw(125);
                                margin-left: 36vw;
                            }
                        }

                        img {
                            display: block;
                        }
                    }
                }

            }
        }
    }

    .bottom_container {
        background-color: #000000;

        @include sp {
            background-image: url(../images/bottom_bg_sp.jpg);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 100% auto;
            padding: get_vw(135) 0 0 0;
        }

        @include pc {
            background-image: url(../images/bottom_bg@2x.jpg);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 2000px auto;
            padding-top: 210px;

        }

        .lcopy {
            p{
                font-family: "Vollkorn", serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: italic;
                text-align: center;
                letter-spacing: 0.05em;

                @include sp {
                    font-size: get_vw(31.5);
                    line-height: 1.5;
                }

                @include pc {
                    letter-spacing: 0.03em;

                    font-size: 24px;
                    line-height: 1.65;
                }
                .spacer{
                    @include sp{
                        display: block;
                        font-size: 0;
                    }
                    @include pc{
                        display: block;
                        font-size:25%;
                    }
                }
            }
        }

        .inner {
            @include sp {
                margin-left: 0;
                margin-right: 0;
            }


            .tastingnote {
                @include pc {
                    margin-top: 85px;
                }

                h2 {
                    font-family: "Lato", sans-serif;
                    font-weight: 400;
                    font-style: italic;
                    letter-spacing: 0.03em;

                    position: relative;
                    text-align: center;

                    @include sp {
                        border-bottom: 1px solid #fff;
                        margin:12vw get_vw(60) get_vw(55) get_vw(60);
                        font-size: get_vw(25);
                        padding-bottom: get_vw(20);
                        letter-spacing: 0.18em;
                    }

                    @include pc {
                        font-size: 18px;
                        letter-spacing: 0.2em;
                        width: 690px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &:before,
                    &:after {
                        @include pc {
                            content: "";
                            background-color: #fff;
                            display: inline-block;
                            position: absolute;
                            height: 1px;
                            width: 220px;
                            top: 8px;
                        }
                    }

                    &:before {
                        left: 0;
                    }

                    &:after {
                        right: 0;
                    }
                }

                .tasting_container{
                    @include sp{
                        box-sizing: border-box;
                        width: 100%;
                        overflow-x: scroll;
                    }
                }

                .tasting_wrap{
                    @include sp{
                        display: -webkit-box;
                        flex-shrink: 0;
                        padding: 0 0 get_vw(30) 0;
                        box-sizing: border-box;
                    }
                    @include pc{
                        display: flex;
                        justify-content: space-between;
                        margin: 65px auto 0 auto;
                        width: 975px;
                    }
                    .tasting_box{
                        @include sp{
                            width: get_vw(390) !important;
                        }
                        @include pc{
                            width: 252px;
                        }
                        &:first-of-type
                        {
                            @include sp{
                                padding-left: get_vw(60);
                            }
                        }
                        &:last-of-type{
                            @include sp{
                                padding-right: get_vw(60);
                            }
                        }
                        &:nth-of-type(2){
                            @include sp{
                                padding: 0 get_vw(40);
                            }
                        }
                        h3{
                            border-bottom: 1px solid #fff;
                            font-family: "Lato", sans-serif;
                            font-weight: 400;
                            font-style: italic;
                            text-align: center;
                            margin: 0 auto;
                            @include sp{
                                width: get_vw(140);
                                letter-spacing: 0.3em;
                                padding-bottom: 0.5vw;
                            }
                            @include pc{
                                font-size: 15px;
                                font-style: italic;
                                letter-spacing: 0.25em;
                                padding-bottom: 5px;
                                width: 90px;
                            }
                        }
                        p{
                            text-align: center;
                            @include sp{
                                font-size: get_vw(20);
                                line-height: 1.7;
                                margin-top: 2em;
                            }
                            @include pc{
                                font-size: 13px;
                                letter-spacing: 0.05em;
                                line-height: 1.65;
                                margin-top: 25px;
                            }
                        }
                    }
                }

                // p {
                //     letter-spacing: 0.07em;

                //     @include sp {
                //         font-size: get_vw(24);
                //         line-height: 2.0;
                //     }

                //     @include pc {
                //         text-align: center;
                //         font-size: 16px;
                //         letter-spacing: 0.14em;
                //         line-height: 2.18;
                //         margin-top: 60px;
                //     }
                // }
            }

            .product {
                position: relative;

                @include sp {
                    margin: get_vw(200) 0 0 0;
                }

                @include pc {
                    width: 680px;
                    margin-top: 280px;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .product-image {
                    @include sp {
                        display: block;
                        width: get_vw(330);
                        margin: 0 auto;
                    }

                    @include pc {
                        display: block;
                        width: 260px;
                        height: auto;
                        margin-left: 25px;
                    }
                }
                .logo{
                    @include sp{
                        width: get_vw(356);
                        margin: get_vw(118) auto 0;
                    }
                    @include pc{
                        margin-top: 30px;
                        width: 266px;
                    }
                    img{
                        width: 100%;
                        height: auto;
                    }
                }

                .text_wrap {
                    @include sp {
                        margin-left: auto;
                        margin-right: auto;
                        width: get_vw(568);
                    }

                    @include pc {
                        margin-left: 390px;
                        padding-top: 55px;
                    }

                    .name {
                        @include sp {
                            display: block;
                            width: get_vw(415);
                            margin: get_vw(85) auto 0 auto;
                        }

                        @include pc {
                            width: 548px;
                        }
                    }

                    .releasedate {
                        @include sp {
                            display: block;
                            width: get_vw(568);
                            margin: get_vw(35) auto 0 auto;
                        }

                        @include pc {
                            width: 548px;
                            margin-top: 25px;
                        }
                    }

                    .spec {
                        font-family: "Noto Sans JP", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 400;
                        font-style: normal;

                        display: flex;
                        flex-wrap: wrap;

                        @include sp {
                            margin: get_vw(55) auto 0 auto;
                        }

                        @include pc {
                            margin-top: 50px;
                        }

                        p {
                            white-space: nowrap;

                            @include sp {
                                font-size: get_vw(22);
                                width: get_vw(280);
                            }

                            @include pc {
                                font-size: 17px;
                                margin-top: 1em;
                                width: 205px;
                            }
                        }
                    }

                    .small {
                        letter-spacing: 0.1em;

                        @include sp {
                            font-size: get_vw(20);
                            line-height: 1.25;
                            margin-top: 1em;
                        }

                        @include pc {
                            font-size: 12px;
                            margin-top: 32px;
                        }
                    }
                }

            }

            a.thenikka {
                display: block;
                margin-left: auto;
                margin-right: auto;

                @include sp {
                    margin-top: get_vw(90);
                    width: get_vw(620);
                }

                @include pc {
                    width: 690px;
                    margin-top: 230px;
                }
            }

        }
    }
}

.fancybox__content {
    @include sp {
        width: get_vw(560) !important;
        height: get_vw(980) !important;
    }

    @include pc {
        width: 380px !important;
        height: 670px !important;
    }
}

/* テキスト fadein */
.fadein {
    transition: 0.6s;
    transition-delay: .2s;
    opacity: 0;

    @include sp {
        transform: translateY(get_vw(20));
    }

    @include pc {
        transform: translateY(20px);
    }

    &.fadein-active {
        opacity: 1;
        transform: translateY(0px);
    }

}

/* Fancybox全体のフォーカス枠を消す */
.fancybox__container:focus,
.fancybox__slide:focus,
.fancybox__content:focus,
.fancybox__content video:focus {
    outline: none !important;
}

/* ChromeやSafariが自動で付けるfocusリングも消す */
.fancybox__content video {
    outline: none !important;
    border: none !important;
}

// slick
// .slick-list{
//     overflow: visible !important;
//     padding: 0 !important;
// }
.slick-track{
    // @include sp{
    //     width: 710px !important;
    // }
}
.slider > .tasting_box:not(:first-child) {
    display: none;
}