<div class="backToTop"><a href="#">
  <img src="/common/img/icon_pagetop.svg" alt="">
  <span>TOP</span>
</a></div>

<footer>
  <div class="inner">
    <div class="footer_menu">
      <div class="footer_menu_box" data-type="brands">
        <div class="footer_menu_ttl"><a href="/en/brands/"><p class="hover_txt">OUR BRANDS</p></a></div>
        <ul>
          <li><a href="/eng/brands/taketsuru/"><p class="hover_txt">TAKETSURU PURE MALT</p></a></li>
          <li><a href="/eng/brands/singlemalt-yoichi/"><p class="hover_txt">YOICHI SINGLE MALT</p></a></li>
          <li><a href="/eng/brands/singlemalt-miyagikyo/"><p class="hover_txt">MIYAGIKYO SINGLE MALT</p></a></li>
          <li><a href="/eng/brands/fromthebarrel/"><p class="hover_txt">FROM THE BARREL</p></a></li>
          <li><a href="/en/brands/"><p class="hover_txt">ALL BRANDS</p></a></li>
        </ul>
      </div>
      <div class="footer_menu_box" data-type="distilleries">
        <div class="footer_menu_ttl"><a href="/en/distilleries/"><p class="hover_txt">DISTILLERIES</p></a></div>
        <ul>
          <li><a href="/en/distilleries/yoichi/"><p class="hover_txt">YOICHI DISTILLERY</p></a></li>
          <li><a href="/en/distilleries/miyagikyo/"><p class="hover_txt">MIYAGIKYO DISTILLERY</p></a></li>
        </ul>
      </div>
      <div class="footer_menu_box" data-type="story">
        <div class="footer_menu_ttl"><a href="/en/story/"><p class="hover_txt">STORY</p></a></div>
        <ul>
          <li><a href="/en/story/founder/"><p class="hover_txt">THE FOUNDER</p></a></li>
          <li><a href="/en/story/history/"><p class="hover_txt">HISTORY</p></a></li>
          <li><a href="/en/story/awards/"><p class="hover_txt">AWARDS</p></a></li>
        </ul>
      </div>
      <div class="footer_menu_box" data-type="no-child">
        <div class="footer_menu_ttl" data-type="about"><a href="/en/about/"><p class="hover_txt">ABOUT US</p></a></div>
        <div class="footer_menu_ttl" data-type="contact"><a href="/en/contact/"><p class="hover_txt">CONTACT US</p></a></div>
      </div>
    </div>

    <div class="footer_sns">
      <ul>
        <li data-type="insta"><a href="https://www.instagram.com/nikkawhiskyglobal/" target="_blank"><img src="/common/img/icon_insta.svg" alt="Instagram"></a></li>
        <li data-type="x"><a href="https://x.com/nikka_jp" target="_blank"><img src="/common/img/icon_x.svg" alt="X"></a></li>
      </ul>
      <p>Do not share with minors.</p>
    </div>
  </div>

  <div class="inner" data-type="wide">
    <div class="footer_logo">
      <svg data-type="emblem"><use xlink:href="#logo_emblem"></use></svg>
      <svg data-type="text" aria-label="NIKKA WWHISKY"><use xlink:href="#logo_text"></use></svg>
    </div>

    <div class="footer_nav">
      <ul>
        <li data-type="sitemap"><a href="/en/sitemap.html"><p class="hover_txt">SITEMAP</p></a></li>
        <li data-type="policy"><a href="https://www.asahigroup-holdings.com/en/privacy_policy/" target="_blank"><p class="hover_txt">PRIVACY POLICY</p></a></li>
        <li data-type="terms"><a href="https://www.asahigroup-holdings.com/en/privacy_policy/terms.html" target="_blank"><p class="hover_txt">Terms of Use</p></a></li>
      </ul>
      <p class="footer_copyright">
        © ASAHI BREWERIES, LTD. All rights reserved.<br data-view="sp">© THE NIKKA WHISKY DISTILLING Co., LTD. All rights reserved.
      </p>
    </div>
  </div>

  <div class="footer_attention">
    <!-- <div data-type="stop"><img src="/common/img/icon_stop.svg" alt="STOP!20歳未満飲酒"></div> -->
    <!-- <div data-type="alcohol"><img src="/common/img/icon_alcohol.svg" alt="お酒"></div> -->
    <!-- <div data-type="recycle"><img src="/common/img/icon_recycle.svg" alt="のんだあとはリサイクル"></div> -->
    <p>Stop! Under-aged drinking and driving are prohibited by law.</p>
  </div>
</footer>

<!--# SiteCatalyst_REQUIRE start #-->
<?php include '/www/web-service/http/sc_parts/sc_bottomtag.tmp.html'; ?>
<!--# SiteCatalyst_REQUIRE end #-->

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"/>

<script src="/common/js/jquery-1.10.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/gsap@3.7.0/dist/gsap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/gsap@3.7.0/dist/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<!--#-------------------------- agecheck_js start --------------------------#-->
<script src="/agecheck/js/cookiechk.js"></script>
<!--#--------------------------- agecheck_js end ---------------------------#-->

<script src="/common/js/common.js"></script>


<!--#========== YTM universalTag START ==========#-->
<?php include '/www/web-service/http/y_univ/y_tag_for_nikka.tmp.html'; ?>
<!--#=========== YTM universalTag END ===========#-->

