#ff87info {
  display:none;
  margin:0;
  background-color:white;
}
.ff87info_p {
  margin:0 auto;
  padding: 0.25em;
  text-align:center;
  font-size:12px;
  font-family: "ＭＳ Ｐゴシック","MS PGothic","メイリオ", "Meiryo",sans-serif!important;
  cursor: pointer;
}

.ff87info_p_uline {
  font-weight:bold;
  text-decoration:underline;
}